.body {
    background-color:#0f172a ;
    color :whitesmoke;
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}
body{
    background-color: #0f172a;
}
.mainBox{
    width:800px;
    height: 500px;
    background-color: #1e293b;
    border-radius:10px;
}
h1{
    padding:10px 30px 0px 30px;
    margin:0px;

}
p{
    margin:0px;
    padding:30px;
}

.figure{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background-color: green;
}
.line1{
    margin-left:20px;
    width :50% ;
    height:2px;
    background-color: gray ;
}
.end{
    background-color: #1e293b;
    margin-top:30px;
    margin-bottom: 0px;
    width: 100%;
    height:150px;
}