.body {
    background-color:#0f172a ;
    color :whitesmoke;
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}

body{
    background-color: #0f172a;
 
}
.mainBox{
    width:600px;
    height: 100%;
    background-color: #1e293b;
    border-radius:10px;

}
h1{
    padding:10px 30px 0px 30px;
    margin-left:20px;
    font-size: 24px;

}
p{
    font-size: 15px;
    margin-left:20px;

    padding:0px 30px 30px 30px;
}
li {
    font-size: 16px;
}
h2{
    font-size: 18px;
    margin-left: 20px;
    padding:30px 0px 10px 30px;
}
.figure{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background-image: url('gambar.jpeg');
    background-size: 600px;
    
}
.line1{
    margin-left:20px;
    width :80% ;
    height:2px;
    background-color: gray ;
}

.picture1{
    margin: 30px 0px 10px 50px ;
    padding:30px 0px 10px 30px;
    background-image: url(filmyear.jpg);
    background-size: 370px;
    width: 345px;
    height: 250px;
    
}
li{
    margin-left:60px;
}
.picture2{
    margin: 30px 0px 10px 50px ;
    padding:30px 0px 10px 30px;
    background-image: url(monthvstotal.jpg);
    background-size: 370px;
    width: 345px;
    height: 250px;
    
}
.picture3{
    margin: 30px 0px 10px 50px ;
    padding:30px 0px 10px 30px;
    background-image: url(mostcountry.jpg);
    background-size: 370px;
    width: 345px;
    height: 250px;
    
}
.picture4{
    margin: 30px 0px 10px 50px ;
    padding:30px 0px 10px 30px;
    background-image: url(PercentageFilm.jpg);
    background-size: 340px;
    width: 310px;
    height: 250px;
    
}
.picture5{
    margin: 30px 0px 10px 50px ;
    padding:30px 0px 10px 30px;
    background-image: url(Top10MostPopularGenderFilm.jpg);
    background-size: 370px;
    width: 345px;
    height: 190px;
    
}
.space{
    width: 100%;
    height: 100px;

}

h3 {
    margin: 0px;
    padding-top: 30px ;
    padding-left: 30px;
}
a {
    margin:0px;
    padding-left: 50px;
    text-decoration:none;
    color:white ;
    
}
a:hover{
    color:gray;
}